# --- Ingestion & Extraction ---
PyMuPDF
unstructured
pytesseract
gdown

# --- Embedding & Vector Database ---
sentence-transformers
chromadb
torchvision

# --- LLM, Agents & Orchestration ---
langgraph
openai
langchain
langchain-text-splitters
langchain-community
agno
groq
duckduckgo-search
python-dotenv
duckduckgo-search
ddgs
fastapi
uvicorn
python-multipart
# --- UI ---
streamlit

# --- Document & Schema Generation ---
weasyprint
diagrams
graphviz